body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #4c7aaf;
    color: white;
    padding: 1em 0;
    text-align: center;
}

header nav a {
    margin: 0 1em;
    color: white;
    text-decoration: none;
}

main {
    padding: 1em;
    background-color: white;
    margin: 2em auto;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #4c7aaf;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 0.5em 0 0.2em;
}

form input, form button {
    padding: 0.5em;
    margin: 0.2em 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #a06245;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #f9f9f9;
    margin: 0.5em 0;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 4px
}